section {

    margin: center;
    width: 600px;

}

.div1{

    width: auto;
    height: auto;
    margin: auto;
    text-align: center;

}
.div2{

    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    
}
.div3{

    width: auto;
    height: auto;
    margin: auto;
    text-align: center;

}
